*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #c7c7c7;
    font-family: sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #040404;
    overflow: hidden;
}

#nav{
    width: 100%;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 1vw;

    h3{
        text-transform: uppercase;
        font-size: 1.1vw;
        font-weight: 400;
    }
}

#nav-part2{
    display: flex;
    align-items: center;
    gap: 2vw;
}
#hero{
    height: calc(90% - 5vh);
    width: 100%;
    padding: 0.1vw 10vw;
    position: relative;
    z-index: 1;
    h1{
        font-size: 10vw;
        text-transform: uppercase;
        font-weight: 400;
        text-align: center;
        line-height: 9vw;
        
    }
}
#hero h1:nth-child(1){
    text-align: start;
    margin-top: 9vw;
    z-index: -2;
    position: relative;
    z-index: 2;
}
#hero span{
    -webkit-text-stroke: 2px white;
    color: transparent;
}


img{
    height: 25vw;
    width: 15vw;
    object-fit: cover;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:-1;
}
#img2{
    rotate: 1deg;
}
#img1{
    rotate:2deg;
}

#hero-last{
    overflow: hidden;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 1vw;
    h3{
        text-align: center;
        font-family: sans-serif;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 1vw;
    }
}

#crsr{
    height: 1vw;
    width: 1vw;
    border-radius: 50%;
    background-color: aliceblue;
    border: 1px solid white;
    position: fixed;
    z-index: 99999;
    mix-blend-mode: difference;
    display: none;
    transition: cubic-bezier(0.19, 1, 0.22, 1);
    pointer-events: none;

}
#main:hover #crsr{
    display: block;
}


@media (max-width:600px) {
    
    #nav{
        width: 100%;
        height: 6vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0vw 1vw;
    
        h3{
            text-transform: uppercase;
            font-size: 1.3vh;
            font-weight: 400;
        }
    }
    
    #nav-part2{
        display: flex;
        align-items: center;
        gap: 2vh;
    }
    #hero{
        height: calc(90% - 5vw);
        width: 100%;
        padding: 0.1vw 10vw;
        position: relative;
        z-index: 1;
        h1{
            font-size: 7.5vh;
            text-transform: uppercase;
            font-weight: 400;
            text-align: center;
            line-height: 7vh;
            
        }
    }
    #hero h1:nth-child(1){
        text-align: start;
        margin-top: 9vw;
        z-index: -2;
        position: relative;
        z-index: 2;
    }
    #hero span{
        -webkit-text-stroke: 2px white;
        color: transparent;
    }
    
    
    img{
        height: 35vh;
        width: 25vh;
        object-fit: cover;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index:-1;
    }
    #img2{
        rotate: 1deg;
    }
    #img1{
        rotate:2deg;
    }
    
    #hero-last{
        height: 10%;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 1vw;
        h3{
            text-align: center;
            font-family: sans-serif;
            font-weight: 500;
            text-transform: uppercase;
            font-size: 1vh;
        }
    }
    
    #crsr{
        height: 1vw;
        width: 1vw;
        border-radius: 50%;
        background-color: aliceblue;
        border: 1px solid white;
        position: fixed;
        z-index: 99999;
        mix-blend-mode: difference;
        display: none;
        transition: cubic-bezier(0.19, 1, 0.22, 1);
        pointer-events: none;
        display: none;
    
    }
    #main:hover #crsr{
        display: none;
    }
    
    
}